# Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Django files
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment variables
.env

# Static and media files
staticfiles/
media/

# VSCode settings
.vscode/
